{% set ctaBackgroundImage = "" %}
{% if keyword is defined and keyword is not empty %}
    {% set cta = _CallToAction.getKeywordBasedCTA(keyword)%}
    {% if cta is defined and cta|length > 0 %}
        {% if cta.id is defined and cta.id is not empty %}            
            {% if(cta.media['id'] is defined and cta.media['id'] is not empty) %}
                {% set ctaBackgroundImage = _Media.getMediaUrl(cta.media,0,0,{'crop': 'fill'}) %}
            {% endif %}
            {{this.registerCss("
                .cta_block_"~cta.id~" .button {
                    border-color: "~cta.button['backgroundColor']~";
                    background: "~cta.button['backgroundColor']~"
                }
                .cta_block_"~cta.id~" .button:hover {
                    color: "~cta.button['backgroundColor']~";
                    border-color: "~cta.button['backgroundColor']~";
                    background: none repeat scroll 0 0
                } 
            ")}}
            <!-- End About CTA section -->
            <div class="clearfix"></div>
            <!-- Begin learning CTA section -->
            <div class="cta-wrap cta-wrap__learning bg-image cta_block_{{cta.id}}" {% if ctaBackgroundImage is not empty or cta.backgroundColor is not empty %} style="{{ (ctaBackgroundImage is not empty) ? 'background-image: url('~ctaBackgroundImage~');' : ''}}{{ (cta.backgroundColor is not empty) ? 'background-color: '~cta.backgroundColor~';' : ''}}"{% endif %}>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="cta-wrap__main text-center">
                                <div class="cta-wrap__main--sr">
                                    <div class="cta-wrap__main--title">{{cta.title |raw}}</div>
                                    <div class="cta-wrap__main--description">
                                        {{cta.description |raw}}
                                    </div>
                                    <div class="cta-wrap__main--buttons">
                                        {% if cta.button.text is defined and cta.button.text is not empty %}
                                            <a class="button button--radius button--red" href="{{cta.button['url']}}">{{cta.button['text'] |raw |upper}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}