{% set network = _Network.getNetworkData() %}
{{set(this,'title',(article.title))}}
{% if article.meta.title is not empty %}
   {{set(this,'title',(article.meta.title))}} 
{% endif %}   

{% set sliderClass = '' %}
{% if article.media | length == 0 %}
    {% set sliderClass = 'article__main-titleBand-withoutImage' %}
{% else %}
    {% for media in article.media %}
        {% if media.type == 'video' %}
            {% set sliderClass = 'article__main-titleBand-video' %}
        {% endif %}
    {% endfor %}
{% endif %}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}
{% set publisher = {height: 60, width: 600, name: network.title, logo: ''} %}
{% if network.logoMedia | length > 0 %}
    {% set publisher = publisher|merge({logo:_Media.getMediaUrl(network.logoMedia, publisher.width, publisher.height, {'crop': 'lpad'} )})%}
{% endif %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": "{{article.url}}", 
    "headline": "{{article.title}}",
    "datePublished": "{{article.publishedDate}}",
    "dateModified": "{{article.updatedAt}}",
    "description": "{{article.content}}",
    "author": {
    "@type": "Person",
    "name": "{{article.createdBy['displayName']}}"
    }
    {% if publisher.logo is not empty %},
        "publisher": {
        "@type": "Organization",
        "name": "Monash University",
        "logo": {
        "@type": "ImageObject",
        "url": "{{publisher.logo}}",
        "width": {{publisher.width}},
        "height": {{publisher.height}}
        }
        }
    {% endif %}
    {% if article.media | length > 0 %}
        ,
        {% set i = 1 %}            
        "image":[ 
        {% for media in article.media %} 
            {
            "@type": "ImageObject",
            "url": "{{media.path}}",
            "width": {{media.width}},
            "height": {{media.height}}
            }
            {% if article.media | length > i %}
                ,
            {% endif %}
            {% set i = i+1 %}
        {% endfor %}
        ]                
    {% endif %}
    }
</script>
<div class="page__content-main">
    <div class="container-fluid"> 
        <div class="row"> 
            <div class="col-12 px-0"> 
                <div class="article__wrapper {{sliderClass}}"> 
                    <div class="article__slide">
                        {% if article.media | length > 0 %}
                            {% set pos = 1 %}
                            <div class="mainSlide slider">
                                {% for media in article.media %}
                                    {% if media.type == 'video' %} 
                                        {% set mediaUrl = "" %}
                                        {% if media.isSystemVideo %}
                                            {% set mediaUrl = _Media.getMediaVideoUrl(media, 0, 0,{resource_type: 'video', format: 'mp4'})  %}
                                            {% set mediaVideoUrlOgg = _Media.getMediaVideoUrl(media, 0, 0,{resource_type: 'video', format: 'ogv'})  %}
                                            {% set mediaVideoUrlWebm = _Media.getMediaVideoUrl(media, 0, 0,{resource_type: 'video', format: 'webm'})  %}
                                            
                                            <div class="item">
                                                {% if media.fullVideoUrl is not empty %}
                                                    {% set img = _Media.getMediaUrl(media, 1900, 1900, {'crop': 'limit'} ) %}
                                                    <img src="{{img}}" class="img-fluid" alt="image" />
                                                    <div id="play-icon-article-page{% if pos > 1%}-{{pos}}{% endif %}" class="playFancyVideo" data-fancybox href="{{media.fullVideoUrl}}"></div>
                                                {% else %}
                                                    <div id="play-icon-article-page{% if pos > 1%}-{{pos}}{% endif %}" class="playFancyVideo" data-fancybox data-src="#hidden-content">
                                                        <video class="slick-video" style="display: none;" id="hidden-content" controls controlsList="nodownload">
                                                            <source src="{{mediaUrl}}" type="video/mp4">
                                                            <source src="{{mediaVideoUrlOgg}}" type="video/ogg">
                                                            <source src="{{mediaVideoUrlWebm}}" type="video/webm">
                                                        </video>
                                                    </div>
                                                    {% set img = _Media.getMediaUrl(media, 1900, 1900, {'crop': 'limit'} ) %}
                                                    <img src="{{img}}" class="img-fluid" alt="image" />
                                                    {% if pos == 1%}
                                                        <video class="autoplay-video" autobuffer muted controlsList="nodownload" loop>
                                                            <source src="{{mediaUrl}}" type="video/mp4">
                                                            <source src="{{mediaVideoUrlOgg}}" type="video/ogg">
                                                            <source src="{{mediaVideoUrlWebm}}" type="video/webm">
                                                        </video>
                                                        <div class="image-caption">{{media.caption}}</div>
                                                    {% endif %}
                                                {% endif %}                                                
                                            </div>
                                        {% else %}
                                            {% if media.source == 'youtube' %}
                                                {% set mediaUrl = "https://www.youtube.com/embed/" ~ media.videoId ~ "?rel=0"  %}
                                            {% else %}
                                                {% set mediaUrl = "http://player.vimeo.com/video/" ~ media.videoId  %}
                                            {% endif %}
                                            <div class="item">
                                                {% set img = _Media.getMediaUrl(media, 1900, 1900, {'crop': 'limit'} ) %}
                                                <div id="play-icon-article-page{% if pos > 1%}-{{pos}}{% endif %}" class="playFancyVideo" data-fancybox href="{{mediaUrl}}"></div>
                                                <img src="{{img}}" class="img-fluid" alt="image" />
                                                <div class="image-caption">{{media.caption}}</div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% set img = _Media.getMediaUrl(media, 1900, 1900, {'crop': 'limit'} ) %}
                                        <div class="item">
                                            <img src="{{img}}" class="img-fluid" alt="image" />
                                            <div class="image-caption">{{media.caption}}</div>
                                        </div>
                                    {% endif %}
                                    {% set pos = pos+1 %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                    <div class="article__main">
                        <div class="article__main-titleBand">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="article__main-titleBand-content effects">
                                            <div class="article__userInfo">
                                                <div class="article__userInfo-content">
                                                    <div class="article__userInfo-date"> <span>Published {{article.publishedDate}}</span></div>
                                                    <h1 class="article__userInfo-title text-center">{{article.title}}</h1> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-10 m-auto">
                                                    <div class="article__main-authorSlide">
                                                        <div class="author-carousel regular slider">
                                                            <div class="article__main-authorSlide-content">
                                                                <a href="javascript:;" class="no-link">
                                                                    <figure class="image-covered rounded-circle" style="background-image:url('{{_Media.getMediaUrl(article.createdBy['media'], 200, 200, {crop:'thumb', radius: 'max', gravity:'face',type:'user'})}}');"></figure>
                                                                    {% set userName = article.createdBy['displayName'] %}
                                                                    <div class="article__main-authorSlide-details">
                                                                        <div class="title">{{userName | raw}}</div>
                                                                        {% set userMeta = _MetaInfo.getMetaData('user', article.createdBy['guid'])%}
                                                                        {% if userMeta.short_positionis defined and userMeta.short_position is not empty %}<div class="designation">{{userMeta.short_position}}</div>{% endif %}
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-10 m-auto">
                                    <div class="article__main-wrapper">
                                        <div class="article__main-content articleContent" data-content-url="{{article.url}}">
                                            {{article.content | _resizeImages({quality: 75}) | raw}}
                                        </div>
                                        <div class="clearfix"></div>
                                        {% set keywords = article.keywords | split(',') %}
                                        {% if keywords | length > 0 %}
                                            <div class="category__wrapper-content-tags mt-0">
                                                <ul>
                                                    {% for keyword in keywords %}
                                                        {% if keyword is defined and keyword is not empty %}
                                                            <li><a href="{{_Blog.getUrl()}}/search?s={{keyword}}">{{keyword}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Article page section -->