{% set network = _Network.getNetworkData() %}
<!-- Begin Article page section -->
{% set bgImg = network.templatePath~'/static/images/test-image.jpg' %}
<div class="page__content-main">
    <div class="container-fluid"> 
        <div class="row"> 
            <div class="col-12 px-0"> 
                <div class="article__wrapper"> 
                    <div class="article__slide">
                        <div class="mainSlide slider">
                            <div class="item">
                                <img src="{{bgImg}}" class="img-fluid" alt="image" />
                                <div class="image-caption">Only Image slide</div>
                            </div>
                            <div class="item">
                                <div class="playFancyVideo" data-fancybox href="https://www.youtube.com/watch?v=fDEzL8AZm9c"></div>
                                <img src="{{bgImg}}" class="img-fluid" alt="image" />
                                <div class="image-caption">Youtube video</div>
                            </div>
                            <div class="item">
                                <div class="playFancyVideo" data-fancybox data-src="#hidden-content">
                                    <video class="slick-video" style="display: none;" id="hidden-content" controls controlsList="nodownload"></video>
                                </div>
                                <img src="{{bgImg}}" class="img-fluid" alt="image" />
                                <div class="image-caption">System video</div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="article__main">
                        <div class="article__main-titleBand">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="article__main-titleBand-content effects">
                                            <div class="article__userInfo">
                                                <div class="article__userInfo-content">
                                                    <div class="article__userInfo-date"> <span>Published Dec 06 2017</span></div>
                                                    <h1 class="article__userInfo-title text-center">Article with single video</h1> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-10 m-auto">
                                                    <div class="article__main-authorSlide">
                                                        <div class="author-carousel regular slider">
                                                            <div class="article__main-authorSlide-content">
                                                                <a href="javascript:;" class="">
                                                                    <figure class="image-covered rounded-circle" style="background-image:url('{{bgImg}}');"></figure>
                                                                    <div class="article__main-authorSlide-details">
                                                                        <div class="title">Mayank Mehendiratta</div>
                                                                        {% set userMeta = _MetaInfo.getMetaData('user', article.createdBy['guid'])%}
                                                                        <div class="designation">{{userMeta.short_position}}</div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-10 m-auto">
                                    <div class="article__main-wrapper">
                                        <div class="article__main-content articleContent" data-content-url="http://monashuniversity.cognitives.link/2017/12/05/53928/article-with-single-video">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p style="text-align: center;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <h2>What is Lorem Ipsum?</h2>
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a <em>galley of type and scrambled</em> it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, <a href="http://google.com">remaining essentially</a> unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <h3>What is Lorem Ipsum?</h3>
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <figure class="image img-responsive" style="float:left"><img alt="" height="315" src="https://res.cloudinary.com/cognitives/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,q_75/ry28dfostfaopytm9xpz" style="max-width: 100% !important;" width="561">
                                                <figcaption>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</figcaption>
                                            </figure>
                                            <p>&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p><strong>Lorem Ipsum</strong> has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <ul>
                                                <li>&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                                <li>&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</li>
                                                <li>But also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                            </ul>
                                            <h4>&nbsp;What is Lorem Ipsum?</h4>
                                            <ol>
                                                <li>&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                                <li>&nbsp;Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</li>
                                                <li>But also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                            </ol>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="category__wrapper-content-tags mt-0">
                                            <ul> </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Article page section -->