{% set network = _Network.getNetworkData() %}
<!-- Begin about Banner section markup -->
{{ this.render('partials/_home-top-page.twig', {network:network, keyword: 'home_top_page'}) | raw }}
{{ this.render('partials/_red_shield_appeal.twig', {network:network, keyword: 'red_shield_appeal'}) | raw }}

<!-- End about Banner section markup -->
<!-- End About CTA section -->
<div class="clearfix"></div>
<!-- Begin learning CTA section -->
<div class="cta-wrap cta-wrap__learning bg-image" style="background-image: url('{{network.templatePath}}/static/images/test-image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta-wrap__main text-center">
                    <div class="cta-wrap__main--sr">
                        <div class="cta-wrap__main--title">Jen’s Story</div>
                        <div class="cta-wrap__main--description">This is an excerpt from the story - generally it is 80 characters, but it can be longer. Finish with something that makes them want to click.</div>
                        <div class="cta-wrap__main--buttons">
                            <a class="button button--radius button--red" href="javascript:;">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End learning CTA section -->
<div class="clearfix"></div>
<!-- Begin cards design section -->
<div class="cards-wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center fs-52">Our Community</h3>
                <div class="row">
                    <div class="card__view col-12 col-md-4 card__view-third">
                        <a href="javascript:;">
                            <div class="card__view-content">
                                asdd
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End cards design section -->

<!-- End CTA section -->
{{ this.render('partials/_contribute_red_shield.twig', {network:network, keyword: 'contribute_red_shield'}) | raw }}
{{ this.render('partials/_subscribe.twig', {network:network, keyword: 'subscribe'}) | raw }}
