{% set network = _Network.getNetworkData() %}
<!-- Begin about Banner section markup -->
{{ this.render('partials/_home-top-page.twig', {network:network, keyword: 'home_top_page'}) | raw }}
{{ this.render('partials/_red_shield_appeal.twig', {network:network, keyword: 'red_shield_appeal'}) | raw }}

<!-- End about Banner section markup -->
<!-- End About CTA section -->
<div class="clearfix"></div>
<!-- Begin learning CTA section -->
<div class="container-fluid">
    <div class="row">
        {{ this.render('partials/_single-article.twig',{network:network, class: 'col-12 card__view-full single px-0'}) | raw }}
    </div>
</div>
<!-- End learning CTA section -->
<div class="clearfix"></div>
<!-- Begin cards design section -->
<div class="card-wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center fs-52 font-light red--color">Our Community</h3>
                <div class="row">
                    {{ this.render('partials/_single-article.twig',{network:network, class: 'col-12 col-md-4 card__view-third'}) | raw }}
                    {{ this.render('partials/_single-article.twig',{network:network, class: 'col-12 col-md-4 card__view-third'}) | raw }}
                    {{ this.render('partials/_single-article.twig',{network:network, class: 'col-12 col-md-4 card__view-third'}) | raw }}
                    {{ this.render('partials/_single-article.twig',{network:network, class: 'col-12 col-md-4 card__view-third'}) | raw }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End cards design section -->

<!-- End CTA section -->
{{ this.render('partials/_contribute_red_shield.twig', {network:network, keyword: 'contribute_red_shield'}) | raw }}
{{ this.render('partials/_subscribe.twig', {network:network, keyword: 'subscribe'}) | raw }}
